.cart-product-card{
    display: flex;
    height: 32vh;
    /* border:1px solid gray; */
    box-shadow: 2px 2px 2px gray;
    width: 50vw;
    padding:1.5rem;
    margin: 1rem auto;
    border-radius: 10px;
}
.cart-product-image-container{
    width: 25%;
    /* background-color: red; */
    height:100%;
    min-width: 200px;

}

.cart-product-image{
    height:95%;
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
    box-shadow: 5px 5px 5px gray;

}


.product-name{
    font-size: 1.4rem;
    font-weight: bold;
}

.cart-product-content{
    display: flex;
    flex-direction: column;
}

.cart-product-field{
    margin:0.5rem 0;
}

.cart-product-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-buttons{
    margin-right:1rem;
}

.minus{
    margin-left:1rem;
}