.productbycategory-container{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    padding:3rem

}

.products-by-category-container{
    display: flex;
}

.productbycategory-title{
    font-weight: bold;
    font-size: 2.5rem;
}